package servants

import (
	"github.com/alimy/mir-echo/mirc/auto/api"
	v1 "github.com/alimy/mir-echo/mirc/auto/api/v1"
	v2 "github.com/alimy/mir-echo/mirc/auto/api/v2"
	"github.com/labstack/echo/v4"
)

// RegisterServants register all the servants to echo.Echo
func RegisterServants(e *echo.Echo) {
	api.RegisterSiteServant(e, newSiteSrv())
	v1.RegisterSiteServant(e, newSiteSrvA())
	v2.RegisterSiteServant(e, newSiteSrvB())
}
