package main

import (
    "log"

    "github.com/gin-gonic/gin"

    "github.com/alimy/mir-examples/mirc/gen/api"
    "github.com/alimy/mir-examples/mirc/gen/api/v1"
    "github.com/alimy/mir-examples/mirc/gen/api/v2"
)

func main() {
    e := gin.New()

    // register servants to engine
    registerServants(e)

    // start servant service
    if err := e.Run(); err != nil {
        log.Fatal(err)
    }
}

func registerServants(e *gin.Engine) {
    // TODO: register routes to *gin.Engine
}