package servants

import (
	"errors"
	"net/http"

	"github.com/alimy/mir/v5"
	"github.com/kataras/iris/v12/context"
)

type baseSrv struct{}

func (baseSrv) Bind(c *context.Context, obj any) error {
	return mir.NewError(http.StatusNotImplemented, errors.New("method not implemented"))
}

func (baseSrv) Render(c *context.Context, data any, err error) {
	if err == nil {
		c.StatusCode(http.StatusNotImplemented)
		c.WriteString(http.StatusText(http.StatusNotImplemented))
	} else if code, ok := mir.HttpStatusCode(err); ok {
		c.StatusCode(code)
		c.WriteString(err.Error())
	} else {
		c.StatusCode(http.StatusInternalServerError)
		c.WriteString(err.Error())
	}
}
