//go:build generate
// +build generate

package main

import (
	"log"

	. "github.com/alimy/mir/v3/core"
	. "github.com/alimy/mir/v3/engine"

	_ "{{ .PkgName }}/mirc/routes"
	_ "{{ .PkgName }}/mirc/routes/v1"
	_ "{{ .PkgName }}/mirc/routes/v2"
)

//go:generate go run $GOFILE
func main() {
	log.Println("generate code start")
	opts := Options{
		RunMode(InSerialMode),
		GeneratorName(GeneratorFiberV2),
		WatchCtxDone(true),
		NoneQuery(true),
		SinkPath("auto"),
	}
	if err := Generate(opts); err != nil {
		log.Fatal(err)
	}
	log.Println("generate code finish")
}
