module {{ .PkgName }}

go 1.12

require (
    github.com/alimy/mir/v2 v2.6.0
    github.com/labstack/echo/v4 v4.1.17
)
{{if notEmptyStr .MirPkgName }}
replace (
    github.com/alimy/mir/v2 => {{ .MirPkgName }}
)
{{end}}
