package v2

import (
    mir "github.com/alimy/mir/v2"
)

// Site mir's struct tag define
type Site struct {
    Group    mir.Group `mir:"v2"`
    Index    mir.Get   `mir:"/index/"`
    Articles mir.Get   `mir:"/articles/:category/"`
    Category mir.Get   `mir:"/category/"`
}
