package main

import (
    "log"

    "github.com/gin-gonic/gin"

    "github.com/alimy/mir/v2/core"
    "github.com/alimy/mir/v2/engine"

    routes "{{ .PkgName }}/mirc/routes"
    v1 "{{ .PkgName }}/mirc/routes/v1"
    v2 "{{ .PkgName }}/mirc/routes/v2"
)

//go:generate go run main.go
func main() {
    log.Println("generate code start")
    entries := mirEntries()
    engine.Generate(entries, &core.GenOpts{Name: core.GeneratorGin, OutPath: "./gen"})
    log.Println("generate code finish")
}

func mirEntries() []interface{} {
    return []interface{}{
        &routes.Site{Chain: gin.HandlersChain{gin.Logger()}},
        &v1.Site{Chain: gin.HandlersChain{gin.Logger()}},
        &v2.Site{Chain: gin.HandlersChain{gin.Logger()}},
    }
}