package routes

import (
    "github.com/alimy/mir/v2"
    "github.com/alimy/mir/v2/engine"
)

func init() {
    engine.AddEntry(new(Site))
}

// Site site interface info
type Site struct {
    Chain    mir.Chain `mir:"-"`
    Index    mir.Get   `mir:"/index/"`
    Articles mir.Get   `mir:"/articles/{category:string}"`
}
