package main

import (
    "log"

    "github.com/kataras/iris/v12"
)

func main() {
    app := iris.New()

    // register servants to iris
    registerServants(app)

    // start servant service
    if err :=  app.Run(iris.Addr(":8013")); err != nil {
        log.Fatal(err)
    }
}

func registerServants(app *iris.Application) {
    // TODO: register routes to iris
}
