module {{ .PkgName }}

go 1.12

require (
    github.com/alimy/mir/v2 v2.6.0
    github.com/kataras/iris/v12 v12.1.8
)
{{if notEmptyStr .MirPkgName }}
replace (
    github.com/alimy/mir/v2 => {{ .MirPkgName }}
)
{{end}}
