package routes

import (
    mir "github.com/alimy/mir/v2"
)

// Site site interface info
type Site struct {
    Chain    mir.Chain `mir:"-"`
    Index    mir.Get   `mir:"/index/"`
    Articles mir.Get   `mir:"//{subdomain}.example.com/articles/{category}/{id:[0-9]+}?filter={filter}&foo=bar&id={id:[0-9]+}"`
}
