package v2

import (
    mir "github.com/alimy/mir/v2"
)

// Site site v2 interface info
type Site struct {
    Group    mir.Group `mir:"v2"`
    Index    mir.Get   `mir:"/index/"`
    Articles mir.Get   `mir:"//{subdomain}.example.com/articles/{category}/{id:[0-9]+}?filter={filter}&foo=bar&id={id:[0-9]+}"`
    Category mir.Get   `mir:"/category/"`
}

