package v1

import (
	. "github.com/alimy/mir/v4"
	. "github.com/alimy/mir/v4/engine"
)

func init() {
	Entry[Site]()
}

// Site site v1 interface info
type Site struct {
	Chain     `mir:"-"`
	Group     `mir:"/v1"`
	Index     func(Get, Chain)             `mir:"/index/"`
	AnyTopics func(Chain)                  `mir:"/topics/"`
	Articles  func(Head, Get, Post, Chain) `mir:"/articles/:category/"`
	Logout    func(Post)                   `mir:"/user/logout/"`
}
