module {{ .PkgName }}

go 1.18

require (
	github.com/alimy/mir/v3 v3.1.1
	gopkg.in/macaron.v1 v1.4.0
)

require (
	github.com/go-macaron/inject v0.0.0-20160627170012-d8a0b8677191 // indirect
	github.com/unknwon/com v0.0.0-20190804042917-757f69c95f3e // indirect
	golang.org/x/crypto v0.0.0-20210711020723-a769d52b0f97 // indirect
	gopkg.in/ini.v1 v1.46.0 // indirect
)
{{if notEmptyStr .MirPkgName }}
replace (
    github.com/alimy/mir/v3 => {{ .MirPkgName }}
)
{{end}}
