package servants

import (
	"context"
	"net/http"

	"github.com/alimy/mir/v5"
	"github.com/cloudwego/hertz/pkg/app"
)

type baseSrv struct{}

func (baseSrv) Bind(c context.Context, ctx *app.RequestContext, obj any) error {
	// do something
	return nil
}

func (baseSrv) Render(c context.Context, ctx *app.RequestContext, data any, err error) {
	if err == nil {
		ctx.JSON(http.StatusOK, data)
	} else if code, ok := mir.HttpStatusCode(err); ok {
		ctx.JSON(code, err.Error())
	} else {
		ctx.JSON(http.StatusInternalServerError, err.Error())
	}
}
