module {{ .PkgName }}

go 1.19

require (
	github.com/alimy/mir/v4 v4.1.0
	github.com/julienschmidt/httprouter v1.3.0
)

{{if notEmptyStr .MirPkgName }}
replace (
    github.com/alimy/mir/v4 => {{ .MirPkgName }}
)
{{end}}
