github.com/alimy/mir/v4 v4.0.0-beta.1 h1:DEL1zr/SdN71Jz/xbF0RTXNN2GdUkQtb1jAAFwJG3bU=
github.com/alimy/mir/v4 v4.0.0-beta.1/go.mod h1:d58dBvw2KImcVbAUANrciEV/of0arMNsI9c/5UNCMMc=
github.com/julienschmidt/httprouter v1.3.0 h1:U0609e9tgbseu3rBINet9P48AI/D3oJs4dN7jwJOQ1U=
github.com/julienschmidt/httprouter v1.3.0/go.mod h1:JR6WtHb+2LUe8TCKY3cZOxFyyO8IZAc4RVcycCCAKdM=
