package v3

import (
	"{{ .PkgName }}/model"

	. "github.com/alimy/mir/v4"
	. "github.com/alimy/mir/v4/engine"
)

func init() {
	Entry[Site]()
}

// Site site v3 interface info
type Site struct {
	Group            `mir:"v3"`
	Index            func(Get)                                               `mir:"/index/"`
	Articles         func(Get)                                               `mir:"/articles/:category/"`
	NextTweets       func(Any, model.TweetsReq) model.TweetsResp             `mir:"/tweets/next/"`
	PrevTweets       func(Post, Get, Head, model.TweetsReq) model.TweetsResp `mir:"/tweets/prev/"`
	Login            func(Post, model.LoginReq) model.LoginResp              `mir:"/user/login/"`
	Logout           func(Post)                                              `mir:"/user/logout/"`
	ImageUpload      func(Post, Context)                                     `mir:"/upload/image/:name/"`
	FileUpload       func(Post, Chain, Context)                              `mir:"/upload/file/:name/"`
	Statics          func(Get, Context)                                      `mir:"/statics/:name/"`
	AnyStaticks      func(Any, Context)                                      `mir:"/anystaticks/:name/"`
	ManyResources    func(Get, Head, Options, Context)                       `mir:"/resources/:name/"`
	MultiAttachments func(Get, Head, Options, Chain, Context)                `mir:"/attachments/:name/"`
}
