module {{ .PkgName }}

go 1.16

require (
	github.com/alimy/mir/v3 {{ .VersionOfMir "v3.0.0" }}
	gopkg.in/macaron.v1 {{ .VersionOfEngine "v1.4.0" }}
)
{{if notEmptyStr .MirPkgName }}
replace (
    github.com/alimy/mir/v3 => {{ .MirPkgName }}
)
{{end}}
