module {{ .PkgName }}

go 1.16

require (
	github.com/alimy/mir/v2 {{ .VersionOfMir "v2.7.2" }}
	gopkg.in/macaron.v1 {{ .VersionOfEngine "v1.4.0" }}
)
{{if notEmptyStr .MirPkgName }}
replace (
    github.com/alimy/mir/v2 => {{ .MirPkgName }}
)
{{end}}
