module {{ .PkgName }}

go 1.18

require (
	github.com/alimy/mir/v3 v3.1.1
	github.com/go-chi/chi/v5 v5.0.8
)
{{if notEmptyStr .MirPkgName }}
replace (
    github.com/alimy/mir/v3 => {{ .MirPkgName }}
)
{{end}}
