module {{ .PkgName }}

go 1.19

require (
	github.com/alimy/mir/v4 v4.1.0
	github.com/go-chi/chi/v5 v5.0.11
)

{{if notEmptyStr .MirPkgName }}
replace (
    github.com/alimy/mir/v4 => {{ .MirPkgName }}
)
{{end}}
