github.com/alimy/mir/v4 v4.1.0-beta.1 h1:TdXNCmCSqjX8jj4KW4tTCMV2Ij1PpMoguJw5pinw/zk=
github.com/alimy/mir/v4 v4.1.0-beta.1/go.mod h1:d58dBvw2KImcVbAUANrciEV/of0arMNsI9c/5UNCMMc=
github.com/go-chi/chi/v5 v5.0.11 h1:BnpYbFZ3T3S1WMpD79r7R5ThWX40TaFB7L31Y8xqSwA=
github.com/go-chi/chi/v5 v5.0.11/go.mod h1:DslCQbL2OYiznFReuXYUmQ2hGd1aDpCnlMNITLSKoi8=
