package servants

import (
	"{{ .PkgName }}/mirc/auto/api"
	"github.com/go-chi/chi/v5"

	v1 "{{ .PkgName }}/mirc/auto/api/v1"
	v2 "{{ .PkgName }}/mirc/auto/api/v2"
)

// RegisterServants register all the servants to chi.Router
func RegisterServants(r chi.Router) {
	api.RegisterSiteServant(r, newSiteSrv())
	v1.RegisterSiteServant(r, newSiteV1Srv())
	v2.RegisterSiteServant(r, newSiteV2Srv())
}
