package v1

import (
	. "github.com/alimy/mir/v4"
	. "github.com/alimy/mir/v4/engine"
)

func init() {
	AddEntry(new(Site))
}

// Site site v1 interface info
type Site struct {
	Chain            `mir:"-"`
	Group            `mir:"/v1"`
	Index            func(Get)                                `mir:"/index/"`
	Articles         func(Head, Get, Post)                    `mir:"/articles/:category/"`
	ImageUpload      func(Post, Context)                      `mir:"/upload/image/:name/"`
	FileUpload       func(Post, Chain, Context)               `mir:"/upload/file/:name/"`
	Statics          func(Get, Context)                       `mir:"/statics/:name/"`
	AnyStaticks      func(Any, Context)                       `mir:"/anystaticks/:name/"`
	ManyResources    func(Get, Head, Options, Context)        `mir:"/resources/:name/"`
	MultiAttachments func(Get, Head, Options, Chain, Context) `mir:"/attachments/:name/"`
}
