package servants

import (
	"errors"
	"net/http"

	"github.com/alimy/mir/v3"
	"github.com/julienschmidt/httprouter"
)

func bindAny(r *http.Request, p httprouter.Params, obj any) mir.Error {
	return mir.NewError(http.StatusBadRequest, errors.New("method not implemented"))
}

func renderAny(w http.ResponseWriter, data any, err mir.Error) {
	w.WriteHeader(http.StatusNotImplemented)
	w.Write([]byte("method not implemented"))
}
