package servants

import (
	"github.com/julienschmidt/httprouter"
	"{{ .PkgName }}/mirc/auto/api"
	v1 "{{ .PkgName }}/mirc/auto/api/v1"
	v2 "{{ .PkgName }}/mirc/auto/api/v2"
	v3 "{{ .PkgName }}/mirc/auto/api/v3"
)

// RegisterServants register all the servants to httprouter.Router
func RegisterServants(e *httprouter.Router) {
	api.RegisterSiteServant(e, newSiteSrv())
	v1.RegisterSiteServant(e, newSiteSrvA())
	v2.RegisterSiteServant(e, newSiteSrvB())
	v3.RegisterSiteServant(e, newSiteSrvC())
}
