package servants

import (
	"errors"
	"net/http"

	"github.com/alimy/mir/v5"
	"github.com/gofiber/fiber/v2"
)

type baseSrv struct{}

func (baseSrv) Bind(c *fiber.Ctx, obj any) error {
	return mir.NewError(http.StatusNotImplemented, errors.New("method not implemented"))
}

func (baseSrv) Render(c *fiber.Ctx, data any, err error) {
	if err == nil {
		c.Status(http.StatusOK)
		c.JSON(data)
	} else if code, ok := mir.HttpStatusCode(err); ok {
		c.Status(code)
		c.Write([]byte(err.Error()))
	} else {
		c.Status(http.StatusInternalServerError)
		c.Write([]byte(err.Error()))
	}
}
