package servants

import (
	"errors"
	"net/http"

	"github.com/alimy/mir/v5"
)

type baseSrv struct{}

func (baseSrv) Bind(r *http.Request, obj any) error {
	return mir.NewError(http.StatusNotImplemented, errors.New("not implemented"))
}

func (baseSrv) Render(w http.ResponseWriter, data any, err error) {
	if err == nil {
		w.WriteHeader(http.StatusOK)
		w.Write([]byte("method not implemented to mashal data"))
	} else if code, ok := mir.HttpStatusCode(err); ok {
		w.WriteHeader(code)
		w.Write([]byte(err.Error()))
	} else {
		w.WriteHeader(http.StatusInternalServerError)
	}
}
