module {{ .PkgName }}

go 1.16

require (
    github.com/alimy/mir/v2 {{ .VersionOfMir "v2.7.2" }}
    github.com/gin-gonic/gin {{ .VersionOfEngine "v1.7.7" }}
)
{{if notEmptyStr .MirPkgName }}
replace (
    github.com/alimy/mir/v2 => {{ .MirPkgName }}
)
{{end}}
