module {{ .PkgName }}

go 1.16

require (
    github.com/alimy/mir/v2 v2.7.0-alpha
    github.com/gin-gonic/gin v1.6.3
)
{{if notEmptyStr .MirPkgName }}
replace (
    github.com/alimy/mir/v2 => {{ .MirPkgName }}
)
{{end}}
