module {{ .PkgName }}

go 1.16

require (
	github.com/alimy/mir/v2 {{ .VersionOfMir "v2.8.0" }}
	github.com/gofiber/fiber/v2 {{ .VersionOfEngine "v2.24.0" }}
)
{{if notEmptyStr .MirPkgName }}
replace (
    github.com/alimy/mir/v2 => {{ .MirPkgName }}
)
{{end}}
