package main

import (
	"log"

	"github.com/gin-gonic/gin"
	"{{ .PkgName }}/servants"
)

func main() {
	e := gin.Default()

	// register servants to gin
	servants.RegisterServants(e)

	// start servant service
	if err := e.Run(); err != nil {
		log.Fatal(err)
	}
}
