//go:build generate
// +build generate

package main

import (
	"log"

	. "github.com/alimy/mir/v5/core"
	. "github.com/alimy/mir/v5/engine"
	"github.com/gin-gonic/gin"

	_ "{{ .PkgName }}/mirc/routes"
	_ "{{ .PkgName }}/mirc/routes/v1"
	_ "{{ .PkgName }}/mirc/routes/v2"
	_ "{{ .PkgName }}/mirc/routes/v3"
)

//go:generate go run $GOFILE
func main() {
	log.Println("generate code start")
	opts := Options{
		UseGin(),
		SinkPath("auto"),
		WatchCtxDone(true),
		RunMode(InSerialMode),
		AssertType[*gin.Context](),
	}
	if err := Generate(opts); err != nil {
		log.Fatal(err)
	}
	log.Println("generate code finish")
}
