module {{ .PkgName }}

go 1.18

require (
	github.com/alimy/mir/v3 v3.1.1
	github.com/gorilla/mux v1.8.0
)
{{if notEmptyStr .MirPkgName }}
replace (
    github.com/alimy/mir/v3 => {{ .MirPkgName }}
)
{{end}}
