github.com/alimy/mir/v4 v4.0.0-beta.1 h1:DEL1zr/SdN71Jz/xbF0RTXNN2GdUkQtb1jAAFwJG3bU=
github.com/alimy/mir/v4 v4.0.0-beta.1/go.mod h1:d58dBvw2KImcVbAUANrciEV/of0arMNsI9c/5UNCMMc=
github.com/gorilla/mux v1.8.0 h1:i40aqfkR1h2SlN9hojwV5ZA91wcXFOvkdNIeFDP5koI=
github.com/gorilla/mux v1.8.0/go.mod h1:DVbg23sWSpFRCP0SfiEN6jmj59UnW/n46BH5rLB71So=
