module {{ .PkgName }}

go 1.12

require (
    github.com/alimy/mir/v2 v2.6.1
    github.com/gofiber/fiber v1.14.6
)
{{if notEmptyStr .MirPkgName }}
replace (
    github.com/alimy/mir/v2 => {{ .MirPkgName }}
)
{{end}}
