package main

import (
    "log"

    "github.com/gofiber/fiber/v2"
)

func main() {
    app := fiber.New()

    // register servants to fiber
    registerServants(app)

    // start servant service
    if err := app.Listen(":3000"); err != nil {
        log.Fatal(err)
    }
}

func registerServants(app *fiber.App) {
    // TODO: register routes to app
}
