package main

import (
    "log"
    "net/http"

    "github.com/julienschmidt/httprouter"
)

func main() {
    r := httprouter.New()

    // register servants to httprouter
    registerServants(r)

    // start servant service
    if err := http.ListenAndServe(":8080", r); err != nil {
        log.Fatal(err)
    }
}

func registerServants(r *httprouter.Router) {
    // TODO: register routes to r
}
