module {{ .PkgName }}

go 1.18

require (
	github.com/alimy/mir/v3 v3.1.1
	github.com/gofiber/fiber v1.14.6
)

require (
	github.com/andybalholm/brotli v1.0.0 // indirect
	github.com/gofiber/utils v0.0.10 // indirect
	github.com/gorilla/schema v1.1.0 // indirect
	github.com/klauspost/compress v1.10.7 // indirect
	github.com/mattn/go-colorable v0.1.7 // indirect
	github.com/mattn/go-isatty v0.0.14 // indirect
	github.com/valyala/bytebufferpool v1.0.0 // indirect
	github.com/valyala/fasthttp v1.16.0 // indirect
	github.com/valyala/tcplisten v0.0.0-20161114210144-ceec8f93295a // indirect
	golang.org/x/sys v0.0.0-20220319134239-a9b59b0215f8 // indirect
)
{{if notEmptyStr .MirPkgName }}
replace (
    github.com/alimy/mir/v3 => {{ .MirPkgName }}
)
{{end}}
