package main

import (
	"log"

	"github.com/gofiber/fiber/v2"
	"{{ .PkgName }}/servants"
)

func main() {
	app := fiber.New()

	// register servants to fiber
	servants.RegisterServants(app)

	// start servant service
	if err := app.Listen(":3000"); err != nil {
		log.Fatal(err)
	}
}
