//go:build generate
// +build generate

package main

import (
	"log"

	. "github.com/alimy/mir/v4/core"
	. "github.com/alimy/mir/v4/engine"
	"github.com/labstack/echo/v4"

	_ "github.com/alimy/mir-echo/mirc/routes"
	_ "github.com/alimy/mir-echo/mirc/routes/v1"
	_ "github.com/alimy/mir-echo/mirc/routes/v2"
)

//go:generate go run $GOFILE
func main() {
	log.Println("generate code start")
	opts := Options{
		RunMode(InSerialMode),
		AssertType[echo.Context](),
		GeneratorName(GeneratorEcho),
		WatchCtxDone(true),
		SinkPath("auto"),
	}
	if err := Generate(opts); err != nil {
		log.Fatal(err)
	}
	log.Println("generate code finish")
}
