//go:build generate
// +build generate

package main

import (
	"log"

	. "github.com/alimy/mir/v5/core"
	. "github.com/alimy/mir/v5/engine"
)

//go:generate go run $GOFILE
func main() {
	log.Println("generate code start")
	if err := Generate(
		UseEcho(),
		Schema("routes"),
		SinkPath("auto"),
		WatchCtxDone(true),
		RunMode(InSerialMode),
	); err != nil {
		log.Fatal(err)
	}
	log.Println("generate code finish")
}
